[Unit]
Description = SampleApp
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /tmp/api/forum.pid
User = forum
Group = forum
WorkingDirectory = /tmp/api/forum
ExecStart = /usr/local/bin/gunicorn -w 1 -b 0.0.0.0:5000 main:app --pid /run/forum/forum.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /tmp/api/forum
PrivateTmp = true

[Install]
WantedBy = multi-user.target